{% extends "base.jinja2" %}

{% block body %}
  <section>
    <div class="container-fluid">

      <div class="row">
        <div class="col">
          <h2>
            <a href="/projects"><i class="bi bi-house-door-fill"></i></a>
            ::
            <a href="/projects/{{ project.shortid }}">{{ project.name }}</a>
            ::
            {{ document.name }}
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <form
            method="post"
            action=""
          >
            <div class="form-group">
              <label for="tags">Tags:</label>
              <textarea class="form-control" id="tags" name="tags" rows="3">{{ document.tags | join(' ') }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col">
          <object data="{{ res_url }}" type="{{ document.mimetype }}" class="resource-embed">
            <embed src="{{ res_url }}" type="{{ document.mimetype }}" />
          </object>
        </div>
        <!--
{{ document.text }}
        -->
      </div>
    </div>
  </section>
{% endblock %}
