{% extends "base.jinja2" %}

{% block body %}
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h2>
            <a href="/projects"><i class="bi bi-house-door-fill"></i></a>
            ::
            {{ project.name }}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form
            method="get"
            action=""
          >
            {% for tag in request.args.getlist('tags'): %}
              <input type="hidden" name="tags" value="{{ tag }}" />
            {% endfor %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search..." id="q" name="q" value="{{ query }}" />
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary"><i class="bi-search"></i>
</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for document in documents %}
                <tr>
                  <td>{{ document.shortid }}</td>
                  <td>
                    <a href="/projects/{{ document.project.shortid }}/docs/{{ document.shortid }}">{{ document.name }}</a>
                    {% if document.tags %}
                      <div class="alert alert-light">
                        {% for tag in document.tags %}
                          <a href="{{ request.url | with_params({ "tags": tag }) }}" class="badge badge-info">{{ tag }}</a>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </td>
                  <td>{{ document.uploaded_on | humanize }}</td>
                  <td>
                    <a href="/projects/{{ document.project.shortid }}/res/{{ document.shortid }}?download=1">download</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if not documents %}
            <div class="alert alert-info" role="alert">
              No results found.
            </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form
            class="document-upload-form"
            method="post"
            enctype="multipart/form-data"
            action="/projects/{{ project.shortid }}/upload"
          >
            <input type="file" id="document" name="document" accept="application/pdf" class="" />
            <button type="submit" class="btn btn-link">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
